.Node {
  width: 30px;
  height: 30px;
  border: solid black 0.5px;
}

.Node-wall {
  background-color: rgb(24, 4, 1);
}
.Start {
  background-color: green;
}
.End {
  background-color: red;
}
.Node-visited {
  animation-name: Visited-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.Node-shortest {
  animation-name: shortestPath-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes Visited-animation {
  0% {
    background-color: rgba(3, 58, 12, 0.75);
  }
  100% {
    background-color: rgba(3, 168, 194, 0.75);
  }
}
@keyframes shortestPath-animation {
  0% {
    transform: scale(0.6);
    background-color: rgb(253, 163, 45);
  }
  100% {
    transform: scale(1);
    background-color: rgb(255, 247, 4);
    border: solid rgb(255, 247, 4) 0.5px;
  }
}
